@model TODOList.Entities.TaskTodo

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Add task</h2>
@using (Html.BeginForm("Add", "Home", FormMethod.Post))
{
    @Html.TextBoxFor(m => m.Text)
    <input type="submit" class="btn btn-danger"/>
}

